body {background-color: cornflowerblue;
    border-width: 0ch;
    
    
  }
  p{
      text-align: center;
  }
  h1{text-align: center;}
  h2{text-align: center;}
    .container {
        max-width: 940px;
        margin: 0 auto;
        padding: 0 10px;
        text-align: center;
        font-size: 20px;
        color: rgb(7, 26, 7);
  }